body { 
	padding-top: 60px; 
	padding-bottom: 40px;; 
	padding-left: 2%
}	

#map_canvas{
	width: 100%;
	height: 450px;
}

div label
{
	max-width: 20%;
	width: 16%;
}

div label, div input
{
	vertical-align: top;
	display: inline-block;
}

div input
{
	max-width: 50%;
	width:50%;
	margin: 0 .1em;
}